* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0c1d;
  text-align: center;
}

h1 {
  margin-top: 4rem;
}

.navbar {
  padding: 0 2rem;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-list {
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navbar-list-item {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #474973;
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
}

.navbar-list-item:hover{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #a69cac;
  margin: 0;
  padding: 1rem 0;
}

content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hide {
  visibility: hidden;
  height: 0;
}

.show {
  visibility: visible;
}