---
title: Build with Template
layout: base.njk
---

<h2>All Movies</h2>
<div id='img-container'{{loop.index0}} class='show'>
{% for movie in data.comedyMovies %}
  <h3>{{movie.title}}</h3>
  <img src=https://image.tmdb.org/t/p/w500/${{movie.poster_path}}></img>
{% endfor %}
</div>
<script type="module" src='js/index.js'></script>